.confirm-modal {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0, .3);
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.row .col.s6 {
    margin-left: 0;
}

.btn {
    margin-right: 1vh;
}